<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <style>
        header{
              
              text-align: left;
              background-color: black;
              padding: 30px;
              color: white;
              border-radius: 5px;
              font-weight: bold;
              font-family: "Kodchasan", sans-serif;
                }

        div{
            text-align: center;
            font-size: larger;
            margin-top: 30px;
        }
       </style>
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Mall <br>Delivery </h1>
        <a style="text-decoration: none;color: inherit;" href="{% url 'home' %}">home</a>
    </header>
    <h2 style="text-align: center;">
        Escolha uma opção que você deseje entrar: 
    </h2>
    <div style="align-items: center;">
        <div >
            <a href="{%url 'admin:index' %}"><button  type="button">Admin</button></a>
        </div>
        <div >
            <a href="{%url 'app_cadastro:lojista_inicial' %}"><button type="button">Lojista</button></a>
        </div>
        <div >
            <a href="{%url 'app_cadastro:consumidor_inicial' %}"><button type="button">Consumidor</button></a>
        </div>
    </div>
    <div style="text-align: center;"><a  href="{%url 'app_cadastro:pagina_login' %}"><button  type="button">voltar</button></a></div>
</body>
</html>