<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
     header{
           
           text-align: left;
           background-color: black;
           padding: 30px;
           color: white;
           border-radius: 5px;
           font-weight: bold;
           font-family: "Kodchasan", sans-serif;
             }
    </style>
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Mall<br>Delivery</h1>
        <p>home</p>
        <p>sair</header>p>

        
    </header>
</body>
</html>