<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <style>
        div{
            margin: auto;
            text-align: center;
            margin-bottom: 30px;
            
        }
        .titulo{
            text-align: center;
        }
        button{
            
        }
    </style>
</head>
<body>
    <h2 class="titulo">Bem-vindo ao Mall Delivery!</h2>
    <div>
        <a href="{% url 'login' %}"><button>Login</button></a>
    </div>
    <div>
        <a href="{% url 'app_cadastro:consumidor_cadastro' %}"><button>Cadastro de Consumidor</button></a>
    </div>
    <div>
        <a href="{% url 'app_cadastro:lojista_cadastro' %}"><button>Cadastro de Lojista</button></a>
    </div>
</body>
</html>
